body {
  background-image: url(../images_pages/Wood-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.home_text {
    height: 540px;
    opacity: 80%;
    color: beige;
    font-size: 40px;
    font-weight: bold;  
  }