.Bar {
    float: left;
    width: 300px;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: none;
    font-size: 15px;
    border-right: white;
  }

.Bar::placeholder {
    color: black;
    opacity: 1; 
    text-align: left;
}  

.search_submit {
  float: right;
  height: 29px;
  width: 32px;
  margin-top: 8px;
  margin-left: none;
  color: white;
  font-size: 17px;
  border: 1px solid white;
  border-left: white;
  cursor: pointer;
  background: url(./search_image.png);
  background-size: 100% 100%;
  background-color: white;
}
